Old.py
.vscode/settings.json
python/__pycache__/linearSolver.cpython-311.pyc
python/__pycache__/Precondition.cpython-311.pyc
python/__pycache__/linearSolver.cpython-311.pyc
kandEnv/Lib/site-packages/scipy/sparse/linalg/_isolve/__pycache__/iterative.cpython-311.pyc
kandEnv
kandEnv/Lib/site-packages/scipy/sparse/linalg/_isolve/__pycache__/iterative.cpython-311.pyc
